@{
    Layout = "_Login";

}
<body>
    <div>
        <div class="panel shadow1">
              <form asp-controller="Login"  class="login-form" asp-action="Index" asp-area="" method="post">
                <div class="panel-switch animated fadeIn">
                    <button type="button" id="sign_up" class="active-button">Crear cuenta</button>
                    <button type="button" id="log_in" class="" disabled>Iniciar sesión</button>
                </div>
                <h1 class="animated fadeInUp animate1" id="title-login">Iniciar sesión</h1>
                <h1 class="animated fadeInUp animate1 hidden" id="title-signup">Nueva cuenta</h1>
                <fieldset id="login-fieldset">
                    <input class="login animated fadeInUp animate2" name="username" type="text" required placeholder="Username" value="">
                    <input class="login animated fadeInUp animate3" name="password" type="password" required placeholder="Password" value="">
                </fieldset>
                <fieldset id="signup-fieldset" class="hidden">
                    <input class="login animated fadeInUp animate2" name="username" type="text" required placeholder="Username" value="">
                    <input class="login animated fadeInUp animate3" name="password" type="password" placeholder="Choose password" required value="">
                </fieldset>
                <input type="submit" id="login-form-submit" class="login_form button animated fadeInUp animate4" value="Log in">
                <input type="submit" id="signup-form-submit" class="login_form button animated fadeInUp animate4 hidden" value="Sign up">
                <p><a id="lost-password-link" href="" class="animated fadeIn animate5">I forgot my  login or password (!)</a></p>
            </form>
        </div>
    </div>
    <script src="form.js"></script>
</body>