<h2>usuarios</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
           <table id="example" class="display" width="100%"></table>
        </div>
    </div>
</div>

@section scripts{
<script src="~/js/Usuarios/Index.js"></script>

}